
.header h1{
	font: sans-serif;
	text-align: center;
}
#test_countdown{
	font-size: 40px;
}
#test_tree{
	position: absolute;
    margin-right: 50%;
    margin-left: 50%;
	z-index: 100;
	font-size: 50px;
}
#settings{
	position: absolute;
	font-size:60px;
	color: #a7a0a0;
	display: inline-block;
	text-decoration: none;
	z-index: 10;
}
#friends{
	align-content: right;
	font-size:50px;
	color: #a7a0a0;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

#submit, #hours, #mins{
  font-family: gill sans, sans-serif;
  color: green;
  font-size: 20px;
}
#tree_time{
	padding-left: 25%;
}

#submit{
  height: 30px;
  width: 80px;
  border-radius: 25px;
  background-color: pink;
  
}