
.header h1{
	font: sans-serif;
	text-align: center;
}
#test_countdown{
	font-size: 40px;
}
#test_tree{
	position: absolute;
	z-index: 100;
	font-size: 50px;
}
#settings{
	position: relative;
	font-size:60px;
	color: #a7a0a0;
}
#friends{
	align-content: right;
	font-size:50px;
	color: #a7a0a0;
}